* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: max-content;
  padding: 1.3rem;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

#fields-container {
  display: grid;
  margin-bottom: 1rem;
  gap: .5rem;
}

.field {
  display: flex;
  gap: .5rem;

  input {
    padding: .2rem;
    border: .1rem solid grey;
  }
  button {  border: unset;  }
}

.action-buttons button {
  background: none;
  border-radius: 6px;
  padding: .4rem .6rem;
}

button {
  cursor: pointer;
  padding: .3em;
  border: .1rem solid grey;
}

/* Colors */

h1 {  color: green; }
.field button {
  color: red;
  border-color: red;
}.action-buttons button {
  border-color: green;
}
