body {
  font-family: sans-serif;
  width: 300px;
  padding: 10px;
}

h1 {
  text-align: center;
  margin-top: 0;
}

#fields-container {
  margin-bottom: 10px;
}

.field {
  display: flex;
  margin-bottom: 5px;
}

.field input {
  flex-grow: 1;
  margin-right: 5px;
}

button {
  cursor: pointer;
}

#add-field, #save-profile {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}
